<h3>Store</h3>
<p>
    Dear <b><%= @order.user.name %></b>,
</p>
 
<p>
    Thank you for your order, your items:
</p>
<table class="table table-striped">
	<thead>
		<tr>
		<th style="text-align:center">Name</th>
		<th style="text-align:center">Quantity</th>
		<th style="text-align:center">Price</th>
		<th style="text-align:center">Total detail</th>					
		<th colspan="3"></th>
		</tr>
	</thead>
	<tbody>
	<% @order.order_details.each do |order| %>
		<tr>
			<td><%= order.name %></td>
			<td><%= order.quantity %></td>
			<td>
			<%= order.price %>
			</td>
			<td><%= order.quantity * order.price %></td>
		</tr>
	<% end %>
	</tbody>
</table>	
<p>Thanks for shopping </p>