.container.text-center
  %h1= @category.name
  .col-md-12#category
    - @category.product.each do |product|
      .col-md-3.product-category
        .image-picture= link_to image_tag(product.pictures.first.picture_url), product if product.pictures.present?
        .info-product
          .product-name= product.name
          .price= number_to_currency(product.price)
        - if current_user == product.user
          %span.glyphicon.glyphicon-pencil{"aria-hidden" => true}
          %span.glyphicon-class= link_to t('edit'), edit_product_path(product)
          %span.glyphicon.glyphicon-trash{"aria-hidden" => true}
          %span.glyphicon.glyphicon-class= link_to t('destroy'), product, method: :delete, data: { confirm: 'Are you sure?'}
        = form_for OrderDetail.new, remote: true do |orders_details|
          = orders_details.hidden_field :name, value: product.name
          = orders_details.hidden_field :price, value: product.price
          = orders_details.hidden_field :product_id, value: product.id
          = orders_details.number_field :quantity, value: 1, class: "form-control", min: 1
          %br
          = orders_details.submit t('add_to_cart'), class: "button"