<td>
  <%= form_for item_cart, remote: true do |f| %>
    <h4 class="text-right"><%= t("unit_price")%>Unit Price: <span style="color: green"><%= number_to_currency product.price %></span></h4>
    <div class="input-group">
      <%= f.number_field_tag :quantity, value: 1, class: "form-control", min: 1 %>
      <div class="input-group-btn">
        <%= f.hidden_field :product_id, value: product.id %>
        <%= f.submit t("add_to_cart"), class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</td>
