.container.text-center
	.col-lg-11
		%table.table.table-striped
			%p
				%strong= t("name")
				= @product.name
			%p
				%strong= t("category")
				= @product.category.name
			%p
				%strong= t("price")
				= @product.price
			%p
				%strong= t("quantity")
				- if @product.quantity == 0 
					0
				- else
					= @product.quantity
			%p 
				- @product.pictures.each do |picture|
					.images_pro
						= image_tag picture.picture_url
		= link_to t('edit') + "|", edit_product_path(@product)
		= link_to t('back'), products_path